## ECON 570 Final Project
### Instructor: Ida Johnsson
### Group Members: Mingyu Zhao, Shang Gao, Yantong Li

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

In [26]:
data_source = "https://raw.githubusercontent.com/yantonglll/ECON570_Final_Project/main/ALL%20Prices%202019-2021%20mar.csv"
data = pd.read_csv(data_source)
data.head()
#data.columns

,month,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,storey_range,...,price_psm_yearly,Core CPI,price cpi_adj,price_psm cpi_adj,bala lease pct,price lease_adj implied,price_psm lease_adj implied,price cpi_lease_adj implied,price_psm cpi_lease_adj implied,year_gni
0,2019-01,ANG MO KIO,2,5 ROOM,700B,ANG MO KIO AVE 6,700B ANG MO KIO AVE 6 SINGAPORE,1.369457,103.846276,19 TO 21,...,86.160860,99.961,794109.7028,7154.141466,92.2,826516.268980,7446.092513,826838.736104,7448.997622,78847
1,2019-01,ANG MO KIO,2,5 ROOM,316A,ANG MO KIO ST 31,316A ANG MO KIO ST 31 SINGAPORE,1.364621,103.847080,19 TO 21,...,81.395349,99.961,770300.4172,7002.731065,93.3,792282.958199,7202.572347,792592.069145,7205.382446,78847
2,2019-01,ANG MO KIO,2,4 ROOM,310B,ANG MO KIO AVE 1,310B ANG MO KIO AVE 1 SINGAPORE,1.364778,103.844221,25 TO 27,...,84.918478,99.961,750292.6141,7815.548064,95.0,757894.736842,7894.736842,758190.431091,7897.816991,78847
3,2019-01,ANG MO KIO,2,5 ROOM,315B,ANG MO KIO ST 31,315B ANG MO KIO ST 31 SINGAPORE,1.364079,103.847476,13 TO 15,...,76.955603,99.961,728284.0308,6620.763916,93.3,749067.524116,6809.704765,749359.774457,6812.361586,78847
4,2019-01,ANG MO KIO,2,5 ROOM,353,ANG MO KIO ST 32,353 ANG MO KIO ST 32 SINGAPORE,1.364015,103.851622,16 TO 18,...,81.705948,99.961,728284.0308,6620.763916,91.4,764638.949672,6951.263179,764937.275239,6953.975229,78847

### Model 1:
We first investigate a model where Y, the dependent variable, is price cpi_adj. Independent variables, or the covariates, are town_dummy, covid dummy, area_sqm, lease_rem, storey, and flat_type. The model should look like this:

$ $price cpi_adj$_i = c + \beta_1*$town_dummy$_i+\beta_2*$covid_dummy$_i+\beta_3*$area_sqm$_i+\beta_4*$lease_rem$_i+\beta_5*storey_i+\beta_6*$flat_type$_i+e_i$,  

where $e_i \sim N(0,\sigma^2)$

In [3]:
year = pd.read_csv(r'/Users/yantongli/Desktop/Graduate School/Spring 2022/ECON570/year.csv')
# year.head()
data_sum = pd.concat([data,year], axis=1) # add back "year" column to dataset
data_sum.head()

,month,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,storey_range,...,Core CPI,price cpi_adj,price_psm cpi_adj,bala lease pct,price lease_adj implied,price_psm lease_adj implied,price cpi_lease_adj implied,price_psm cpi_lease_adj implied,year_gni,year
0,2019-01,ANG MO KIO,2,5 ROOM,700B,ANG MO KIO AVE 6,700B ANG MO KIO AVE 6 SINGAPORE,1.369457,103.846276,19 TO 21,...,99.961,794109.7028,7154.141466,92.2,826516.268980,7446.092513,826838.736104,7448.997622,78847,2019
1,2019-01,ANG MO KIO,2,5 ROOM,316A,ANG MO KIO ST 31,316A ANG MO KIO ST 31 SINGAPORE,1.364621,103.847080,19 TO 21,...,99.961,770300.4172,7002.731065,93.3,792282.958199,7202.572347,792592.069145,7205.382446,78847,2019
2,2019-01,ANG MO KIO,2,4 ROOM,310B,ANG MO KIO AVE 1,310B ANG MO KIO AVE 1 SINGAPORE,1.364778,103.844221,25 TO 27,...,99.961,750292.6141,7815.548064,95.0,757894.736842,7894.736842,758190.431091,7897.816991,78847,2019
3,2019-01,ANG MO KIO,2,5 ROOM,315B,ANG MO KIO ST 31,315B ANG MO KIO ST 31 SINGAPORE,1.364079,103.847476,13 TO 15,...,99.961,728284.0308,6620.763916,93.3,749067.524116,6809.704765,749359.774457,6812.361586,78847,2019
4,2019-01,ANG MO KIO,2,5 ROOM,353,ANG MO KIO ST 32,353 ANG MO KIO ST 32 SINGAPORE,1.364015,103.851622,16 TO 18,...,99.961,728284.0308,6620.763916,91.4,764638.949672,6951.263179,764937.275239,6953.975229,78847,2019

First, we create dummies for covid by setting $ $covid_$dum $ equal to 1 if the date is after 2020-01, and $ $covid_$dum $ equal to 0 if the date is before 2020-01.

In [27]:
# # create dummies for covid
# covid_dummy = pd.get_dummies(data_sum['year'])
# covid_dummy

# # Attach these dummies to dataframe
# data_yeardum = pd.concat([data_sum,covid_dummy], axis=1)
# data_yeardum

# # Rename columns
# data_yeardum = data_yeardum.rename(columns = {2019: "covid_1",2020: "covid_2",2021: "covid_3"})
# data_yeardum.head()

In [28]:
# create a dummy for covid
data_sum["covid_dum"] = (data_sum.month >= "2020-01").astype(int)
data_sum

# rename "price cpi_adj"
data_sum = data_sum.rename(columns = {"price cpi_adj":"price_cpi_adj"})

data_sum.head()

,month,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,storey_range,...,price_cpi_adj,price_psm cpi_adj,bala lease pct,price lease_adj implied,price_psm lease_adj implied,price cpi_lease_adj implied,price_psm cpi_lease_adj implied,year_gni,year,covid_dum
0,2019-01,ANG MO KIO,2,5 ROOM,700B,ANG MO KIO AVE 6,700B ANG MO KIO AVE 6 SINGAPORE,1.369457,103.846276,19 TO 21,...,794109.7028,7154.141466,92.2,826516.268980,7446.092513,826838.736104,7448.997622,78847,2019,0
1,2019-01,ANG MO KIO,2,5 ROOM,316A,ANG MO KIO ST 31,316A ANG MO KIO ST 31 SINGAPORE,1.364621,103.847080,19 TO 21,...,770300.4172,7002.731065,93.3,792282.958199,7202.572347,792592.069145,7205.382446,78847,2019,0
2,2019-01,ANG MO KIO,2,4 ROOM,310B,ANG MO KIO AVE 1,310B ANG MO KIO AVE 1 SINGAPORE,1.364778,103.844221,25 TO 27,...,750292.6141,7815.548064,95.0,757894.736842,7894.736842,758190.431091,7897.816991,78847,2019,0
3,2019-01,ANG MO KIO,2,5 ROOM,315B,ANG MO KIO ST 31,315B ANG MO KIO ST 31 SINGAPORE,1.364079,103.847476,13 TO 15,...,728284.0308,6620.763916,93.3,749067.524116,6809.704765,749359.774457,6812.361586,78847,2019,0
4,2019-01,ANG MO KIO,2,5 ROOM,353,ANG MO KIO ST 32,353 ANG MO KIO ST 32 SINGAPORE,1.364015,103.851622,16 TO 18,...,728284.0308,6620.763916,91.4,764638.949672,6951.263179,764937.275239,6953.975229,78847,2019,0

Now, we create dummies for town_dummy, it is important to keep in mind that town_dummy is from 1-6, with 1 being the most prime area and 6 being the least prime area

In [29]:
# create dummies for town_dummy
town_dum = pd.get_dummies(data_sum['town_dummy'])
town_dum

# Attach these dummies to dataframe
data_c = pd.concat([data_sum,town_dum], axis=1)
data_c

# Rename columns
data_rn1 = data_c.rename(columns = {1: "town_1",2: "town_2",3: "town_3",4: "town_4",5: "town_5",6: "town_6"})
data_rn1

#data_rn.columns

,month,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,storey_range,...,price_psm cpi_lease_adj implied,year_gni,year,covid_dum,town_1,town_2,town_3,town_4,town_5,town_6
0,2019-01,ANG MO KIO,2,5 ROOM,700B,ANG MO KIO AVE 6,700B ANG MO KIO AVE 6 SINGAPORE,1.369457,103.846276,19 TO 21,...,7448.997622,78847,2019,0,0,1,0,0,0,0
1,2019-01,ANG MO KIO,2,5 ROOM,316A,ANG MO KIO ST 31,316A ANG MO KIO ST 31 SINGAPORE,1.364621,103.847080,19 TO 21,...,7205.382446,78847,2019,0,0,1,0,0,0,0
2,2019-01,ANG MO KIO,2,4 ROOM,310B,ANG MO KIO AVE 1,310B ANG MO KIO AVE 1 SINGAPORE,1.364778,103.844221,25 TO 27,...,7897.816991,78847,2019,0,0,1,0,0,0,0
3,2019-01,ANG MO KIO,2,5 ROOM,315B,ANG MO KIO ST 31,315B ANG MO KIO ST 31 SINGAPORE,1.364079,103.847476,13 TO 15,...,6812.361586,78847,2019,0,0,1,0,0,0,0
4,2019-01,ANG MO KIO,2,5 ROOM,353,ANG MO KIO ST 32,353 ANG MO KIO ST 32 SINGAPORE,1.364015,103.851622,16 TO 18,...,6953.975229,78847,2019,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52636,2021-03,YISHUN,5,3 ROOM,110,YISHUN RING RD,110 YISHUN RING RD SINGAPORE,1.433340,103.829168,07 TO 09,...,4949.860751,75000,2021,1,0,0,0,0,1,0
52637,2021-03,YISHUN,5,3 ROOM,712,YISHUN AVE 5,712 YISHUN AVE 5 SINGAPORE,1.430248,103.828862,01 TO 03,...,4640.955160,75000,2021,1,0,0,0,0,1,0
52638,2021-03,YISHUN,5,2 ROOM,424B,YISHUN AVE 11,424B YISHUN AVE 11 SINGAPORE,1.423215,103.848264,07 TO 09,...,5556.176866,75000,2021,1,0,0,0,0,1,0
52639,2021-03,YISHUN,5,2 ROOM,459,YISHUN AVE 11,459 YISHUN AVE 11 SINGAPORE,1.421059,103.846357,07 TO 09,...,5253.248609,75000,2021,1,0,0,0,0,1,0
52640,2021-03,YISHUN,5,2 ROOM,459,YISHUN AVE 11,459 YISHUN AVE 11 SINGAPORE,1.421059,103.846357,01 TO 03,...,4412.728831,75000,2021,1,0,0,0,0,1,0

In [30]:
# set variable "flat_type" to a categorical variable
data_rn1["flat_type"].describe()
data_rn1["flat_type"] = data_rn1["flat_type"].astype("category")
data_rn1.dtypes

month                                object
town                                 object
town_dummy                            int64
flat_type                          category
block                                object
street_name                          object
address                              object
latitude                            float64
longitude                           float64
storey_range                         object
storey                                int64
area_sqm                            float64
flat_model                           object
lease_start                           int64
lease_rem                             int64
resale_price                        float64
price_psm                           float64
price_psm_yearly                    float64
Core CPI                            float64
price_cpi_adj                       float64
price_psm cpi_adj                   float64
bala lease pct                      float64
price lease_adj implied             float64
price_psm lease_adj implied         float64
price cpi_lease_adj implied         float64
price_psm cpi_lease_adj implied     float64
year_gni                              int64
year                                  int64
covid_dum                             int64
town_1                                uint8
town_2                                uint8
town_3                                uint8
town_4                                uint8
town_5                                uint8
town_6                                uint8
dtype: object

In [31]:
data_rn1["flat_type"] = data_rn1["flat_type"].cat.codes
data_rn1.head()

,month,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,storey_range,...,price_psm cpi_lease_adj implied,year_gni,year,covid_dum,town_1,town_2,town_3,town_4,town_5,town_6
0,2019-01,ANG MO KIO,2,4,700B,ANG MO KIO AVE 6,700B ANG MO KIO AVE 6 SINGAPORE,1.369457,103.846276,19 TO 21,...,7448.997622,78847,2019,0,0,1,0,0,0,0
1,2019-01,ANG MO KIO,2,4,316A,ANG MO KIO ST 31,316A ANG MO KIO ST 31 SINGAPORE,1.364621,103.847080,19 TO 21,...,7205.382446,78847,2019,0,0,1,0,0,0,0
2,2019-01,ANG MO KIO,2,3,310B,ANG MO KIO AVE 1,310B ANG MO KIO AVE 1 SINGAPORE,1.364778,103.844221,25 TO 27,...,7897.816991,78847,2019,0,0,1,0,0,0,0
3,2019-01,ANG MO KIO,2,4,315B,ANG MO KIO ST 31,315B ANG MO KIO ST 31 SINGAPORE,1.364079,103.847476,13 TO 15,...,6812.361586,78847,2019,0,0,1,0,0,0,0
4,2019-01,ANG MO KIO,2,4,353,ANG MO KIO ST 32,353 ANG MO KIO ST 32 SINGAPORE,1.364015,103.851622,16 TO 18,...,6953.975229,78847,2019,0,0,1,0,0,0,0

#### Now let's run the regression with model 1:

In [32]:
# regression 1
est1 = smf.ols(formula="price_cpi_adj ~ covid_dum + town_2 + town_3 + town_4 + town_5 + town_6 + lease_rem + area_sqm + flat_type + storey", data=data_rn1).fit()

est1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          price_cpi_adj   R-squared:                       0.775
Model:                            OLS   Adj. R-squared:                  0.775
Method:                 Least Squares   F-statistic:                 1.814e+04
Date:                Mon, 02 May 2022   Prob (F-statistic):               0.00
Time:                        16:37:53   Log-Likelihood:            -6.6502e+05
No. Observations:               52641   AIC:                         1.330e+06
Df Residuals:                   52630   BIC:                         1.330e+06
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.467e+05   3070.423    -47.771      0.000   -1.53e+05   -1.41e+05
covid_dum   1.836e+04    657.696     27.916      0.000    1.71e+04    1.96e+04
town_2     -7.309e+04   2019.519    -36.193      0.000   -7.71e+04   -6.91e+04
town_3     -6.765e+04   2324.524    -29.104      0.000   -7.22e+04   -6.31e+04
town_4     -2.018e+05   1965.077   -102.707      0.000   -2.06e+05   -1.98e+05
town_5     -2.571e+05   1990.389   -129.190      0.000   -2.61e+05   -2.53e+05
town_6     -2.558e+05   2100.351   -121.784      0.000    -2.6e+05   -2.52e+05
lease_rem   3949.6076     27.677    142.703      0.000    3895.360    4003.855
area_sqm    3676.5236     45.953     80.006      0.000    3586.455    3766.592
flat_type   2.165e+04   1204.968     17.965      0.000    1.93e+04     2.4e+04
storey      5612.6221     59.923     93.664      0.000    5495.173    5730.071
==============================================================================
Omnibus:                     4850.771   Durbin-Watson:                   0.722
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7319.515
Skew:                           0.711   Prob(JB):                         0.00
Kurtosis:                       4.147   Cond. No.                     1.85e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.85e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [33]:
# regression 2
est2 = smf.ols(formula="price_cpi_adj ~ covid_dum + town_dummy + lease_rem + area_sqm + flat_type + storey", data=data_rn1).fit()

est2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          price_cpi_adj   R-squared:                       0.752
Model:                            OLS   Adj. R-squared:                  0.752
Method:                 Least Squares   F-statistic:                 2.666e+04
Date:                Mon, 02 May 2022   Prob (F-statistic):               0.00
Time:                        16:38:00   Log-Likelihood:            -6.6756e+05
No. Observations:               52641   AIC:                         1.335e+06
Df Residuals:                   52634   BIC:                         1.335e+06
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -8.341e+04   2451.944    -34.019      0.000   -8.82e+04   -7.86e+04
covid_dum   1.826e+04    688.088     26.542      0.000    1.69e+04    1.96e+04
town_dummy -5.382e+04    274.722   -195.892      0.000   -5.44e+04   -5.33e+04
lease_rem   3515.9028     27.762    126.643      0.000    3461.488    3570.317
area_sqm    3563.6814     47.895     74.406      0.000    3469.806    3657.556
flat_type    2.32e+04   1259.950     18.410      0.000    2.07e+04    2.57e+04
storey      6129.4330     62.180     98.575      0.000    6007.559    6251.307
==============================================================================
Omnibus:                     5624.206   Durbin-Watson:                   0.680
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9227.155
Skew:                           0.763   Prob(JB):                         0.00
Kurtosis:                       4.369   Cond. No.                         929.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""