## ECON 570 Final Project
### Instructor: Ida Johnsson
### Group Members: Mingyu Zhao, Shang Gao, Yantong Li

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt

In [2]:
data_source = "https://raw.githubusercontent.com/yantonglll/ECON570_Final_Project/main/ALL%20Prices%202019-2021%20mar.csv"
data = pd.read_csv(data_source)
data.head()
#data.columns

Index(['month', 'town', 'town_dummy', 'flat_type', 'block', 'street_name',
       'address', 'latitude', 'longitude', 'storey_range', 'storey',
       'area_sqm', 'flat_model', 'lease_start', 'lease_rem', 'resale_price',
       'price_psm', 'price_psm_yearly', 'Core CPI', 'price cpi_adj',
       'price_psm cpi_adj', 'bala lease pct', 'price lease_adj implied',
       'price_psm lease_adj implied', 'price cpi_lease_adj implied',
       'price_psm cpi_lease_adj implied', 'year_gni'],
      dtype='object')

### Model 1:
We first investigate a model where Y, the dependent variable, is price cpi_adj. Independent variables, or the covariates, are town_dummy, covid, area_sqm, lease_rem, storey, and flat_type. The model should look like this:

$ $price cpi_adj$_i = c + \beta_1*$town_dummy$_i+\beta_2*$covid_1$_i+\beta_3*$covid_2$_i+\beta_4*$area_sqm$_i+\beta_5*$lease_rem$_i+\beta_6*storey_i+\beta_7*$flat_type$_i+e_i$,  

where $e_i \sim N(0,\sigma^2)$

In [3]:
year = pd.read_csv(r'/Users/yantongli/Desktop/Graduate School/Spring 2022/ECON570/year.csv')
# year.head()
data_sum = pd.concat([data,year], axis=1) # add back "year" column to dataset
data_sum.head()

,month,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,storey_range,...,Core CPI,price cpi_adj,price_psm cpi_adj,bala lease pct,price lease_adj implied,price_psm lease_adj implied,price cpi_lease_adj implied,price_psm cpi_lease_adj implied,year_gni,year
0,2019-01,ANG MO KIO,2,5 ROOM,700B,ANG MO KIO AVE 6,700B ANG MO KIO AVE 6 SINGAPORE,1.369457,103.846276,19 TO 21,...,99.961,794109.7028,7154.141466,92.2,826516.268980,7446.092513,826838.736104,7448.997622,78847,2019
1,2019-01,ANG MO KIO,2,5 ROOM,316A,ANG MO KIO ST 31,316A ANG MO KIO ST 31 SINGAPORE,1.364621,103.847080,19 TO 21,...,99.961,770300.4172,7002.731065,93.3,792282.958199,7202.572347,792592.069145,7205.382446,78847,2019
2,2019-01,ANG MO KIO,2,4 ROOM,310B,ANG MO KIO AVE 1,310B ANG MO KIO AVE 1 SINGAPORE,1.364778,103.844221,25 TO 27,...,99.961,750292.6141,7815.548064,95.0,757894.736842,7894.736842,758190.431091,7897.816991,78847,2019
3,2019-01,ANG MO KIO,2,5 ROOM,315B,ANG MO KIO ST 31,315B ANG MO KIO ST 31 SINGAPORE,1.364079,103.847476,13 TO 15,...,99.961,728284.0308,6620.763916,93.3,749067.524116,6809.704765,749359.774457,6812.361586,78847,2019
4,2019-01,ANG MO KIO,2,5 ROOM,353,ANG MO KIO ST 32,353 ANG MO KIO ST 32 SINGAPORE,1.364015,103.851622,16 TO 18,...,99.961,728284.0308,6620.763916,91.4,764638.949672,6951.263179,764937.275239,6953.975229,78847,2019

First, we create dummies for covid by setting $ $covid_1$_i $ equal to 1 if the year is 2019, and $ $covid_2$_i $ equal to 1 if the year is 2020, and $ $covid_3$_i $ equal to 1 if the year is 2021

In [4]:
# create dummies for covid
covid_dummy = pd.get_dummies(data_sum['year'])
covid_dummy

# Attach these dummies to dataframe
data_yeardum = pd.concat([data_sum,covid_dummy], axis=1)
data_yeardum

# Rename columns
data_yeardum = data_yeardum.rename(columns = {2019: "covid_1",2020: "covid_2",2021: "covid_3"})
data_yeardum.head()

# # or create a dummy for covid like follows:
# data_sum["covid_dum"] = (data_sum.month >= "2020-01").astype(int)
# data_sum

# # rename "price cpi_adj"
# data_sum = data_sum.rename(columns = {"price cpi_adj":"price_cpi_adj"})

# data_sum.head()

,month,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,storey_range,...,bala lease pct,price lease_adj implied,price_psm lease_adj implied,price cpi_lease_adj implied,price_psm cpi_lease_adj implied,year_gni,year,covid_1,covid_2,covid_3
0,2019-01,ANG MO KIO,2,5 ROOM,700B,ANG MO KIO AVE 6,700B ANG MO KIO AVE 6 SINGAPORE,1.369457,103.846276,19 TO 21,...,92.2,826516.268980,7446.092513,826838.736104,7448.997622,78847,2019,1,0,0
1,2019-01,ANG MO KIO,2,5 ROOM,316A,ANG MO KIO ST 31,316A ANG MO KIO ST 31 SINGAPORE,1.364621,103.847080,19 TO 21,...,93.3,792282.958199,7202.572347,792592.069145,7205.382446,78847,2019,1,0,0
2,2019-01,ANG MO KIO,2,4 ROOM,310B,ANG MO KIO AVE 1,310B ANG MO KIO AVE 1 SINGAPORE,1.364778,103.844221,25 TO 27,...,95.0,757894.736842,7894.736842,758190.431091,7897.816991,78847,2019,1,0,0
3,2019-01,ANG MO KIO,2,5 ROOM,315B,ANG MO KIO ST 31,315B ANG MO KIO ST 31 SINGAPORE,1.364079,103.847476,13 TO 15,...,93.3,749067.524116,6809.704765,749359.774457,6812.361586,78847,2019,1,0,0
4,2019-01,ANG MO KIO,2,5 ROOM,353,ANG MO KIO ST 32,353 ANG MO KIO ST 32 SINGAPORE,1.364015,103.851622,16 TO 18,...,91.4,764638.949672,6951.263179,764937.275239,6953.975229,78847,2019,1,0,0

In [5]:
# create dummies for town_dummy, it is important to keep in mind that town_dummy is from 1-6, with 1 
# being the most prime area and 6 being the least prime area
town_dum = pd.get_dummies(data_yeardum['town_dummy'])
town_dum

# Attach these dummies to dataframe
data_c = pd.concat([data_yeardum,town_dum], axis=1)
data_c

# Rename columns
data_rn1 = data_c.rename(columns = {1: "town_1",2: "town_2",3: "town_3",4: "town_4",5: "town_5",6: "town_6"})
data_rn1

#data_rn.columns

,month,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,storey_range,...,year,covid_1,covid_2,covid_3,town_1,town_2,town_3,town_4,town_5,town_6
0,2019-01,ANG MO KIO,2,5 ROOM,700B,ANG MO KIO AVE 6,700B ANG MO KIO AVE 6 SINGAPORE,1.369457,103.846276,19 TO 21,...,2019,1,0,0,0,1,0,0,0,0
1,2019-01,ANG MO KIO,2,5 ROOM,316A,ANG MO KIO ST 31,316A ANG MO KIO ST 31 SINGAPORE,1.364621,103.847080,19 TO 21,...,2019,1,0,0,0,1,0,0,0,0
2,2019-01,ANG MO KIO,2,4 ROOM,310B,ANG MO KIO AVE 1,310B ANG MO KIO AVE 1 SINGAPORE,1.364778,103.844221,25 TO 27,...,2019,1,0,0,0,1,0,0,0,0
3,2019-01,ANG MO KIO,2,5 ROOM,315B,ANG MO KIO ST 31,315B ANG MO KIO ST 31 SINGAPORE,1.364079,103.847476,13 TO 15,...,2019,1,0,0,0,1,0,0,0,0
4,2019-01,ANG MO KIO,2,5 ROOM,353,ANG MO KIO ST 32,353 ANG MO KIO ST 32 SINGAPORE,1.364015,103.851622,16 TO 18,...,2019,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52636,2021-03,YISHUN,5,3 ROOM,110,YISHUN RING RD,110 YISHUN RING RD SINGAPORE,1.433340,103.829168,07 TO 09,...,2021,0,0,1,0,0,0,0,1,0
52637,2021-03,YISHUN,5,3 ROOM,712,YISHUN AVE 5,712 YISHUN AVE 5 SINGAPORE,1.430248,103.828862,01 TO 03,...,2021,0,0,1,0,0,0,0,1,0
52638,2021-03,YISHUN,5,2 ROOM,424B,YISHUN AVE 11,424B YISHUN AVE 11 SINGAPORE,1.423215,103.848264,07 TO 09,...,2021,0,0,1,0,0,0,0,1,0
52639,2021-03,YISHUN,5,2 ROOM,459,YISHUN AVE 11,459 YISHUN AVE 11 SINGAPORE,1.421059,103.846357,07 TO 09,...,2021,0,0,1,0,0,0,0,1,0
52640,2021-03,YISHUN,5,2 ROOM,459,YISHUN AVE 11,459 YISHUN AVE 11 SINGAPORE,1.421059,103.846357,01 TO 03,...,2021,0,0,1,0,0,0,0,1,0

In [6]:
# set variable "flat_type" to a categorical variable
data_rn1["flat_type"].describe()
data_rn1["flat_type"] = data_rn1["flat_type"].astype("category")
data_rn1.dtypes

data_rn1["flat_type"] = data_rn1["flat_type"].cat.codes
data_rn1.head()

,month,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,storey_range,...,year,covid_1,covid_2,covid_3,town_1,town_2,town_3,town_4,town_5,town_6
0,2019-01,ANG MO KIO,2,4,700B,ANG MO KIO AVE 6,700B ANG MO KIO AVE 6 SINGAPORE,1.369457,103.846276,19 TO 21,...,2019,1,0,0,0,1,0,0,0,0
1,2019-01,ANG MO KIO,2,4,316A,ANG MO KIO ST 31,316A ANG MO KIO ST 31 SINGAPORE,1.364621,103.847080,19 TO 21,...,2019,1,0,0,0,1,0,0,0,0
2,2019-01,ANG MO KIO,2,3,310B,ANG MO KIO AVE 1,310B ANG MO KIO AVE 1 SINGAPORE,1.364778,103.844221,25 TO 27,...,2019,1,0,0,0,1,0,0,0,0
3,2019-01,ANG MO KIO,2,4,315B,ANG MO KIO ST 31,315B ANG MO KIO ST 31 SINGAPORE,1.364079,103.847476,13 TO 15,...,2019,1,0,0,0,1,0,0,0,0
4,2019-01,ANG MO KIO,2,4,353,ANG MO KIO ST 32,353 ANG MO KIO ST 32 SINGAPORE,1.364015,103.851622,16 TO 18,...,2019,1,0,0,0,1,0,0,0,0

In [7]:
# rename "price cpi_adj"
data_rn2 = data_rn1.rename(columns = {"price cpi_adj":"price_cpi_adj"})

data_rn2.head()

,month,town,town_dummy,flat_type,block,street_name,address,latitude,longitude,storey_range,...,year,covid_1,covid_2,covid_3,town_1,town_2,town_3,town_4,town_5,town_6
0,2019-01,ANG MO KIO,2,4,700B,ANG MO KIO AVE 6,700B ANG MO KIO AVE 6 SINGAPORE,1.369457,103.846276,19 TO 21,...,2019,1,0,0,0,1,0,0,0,0
1,2019-01,ANG MO KIO,2,4,316A,ANG MO KIO ST 31,316A ANG MO KIO ST 31 SINGAPORE,1.364621,103.847080,19 TO 21,...,2019,1,0,0,0,1,0,0,0,0
2,2019-01,ANG MO KIO,2,3,310B,ANG MO KIO AVE 1,310B ANG MO KIO AVE 1 SINGAPORE,1.364778,103.844221,25 TO 27,...,2019,1,0,0,0,1,0,0,0,0
3,2019-01,ANG MO KIO,2,4,315B,ANG MO KIO ST 31,315B ANG MO KIO ST 31 SINGAPORE,1.364079,103.847476,13 TO 15,...,2019,1,0,0,0,1,0,0,0,0
4,2019-01,ANG MO KIO,2,4,353,ANG MO KIO ST 32,353 ANG MO KIO ST 32 SINGAPORE,1.364015,103.851622,16 TO 18,...,2019,1,0,0,0,1,0,0,0,0

#### Now let's run the regression with model 1:

In [9]:
est1 = smf.ols(formula="price_cpi_adj ~ covid_2 + covid_3 + town_2 + town_3 + town_4 + town_5 + town_6 + lease_rem + area_sqm + flat_type + storey", data=data_rn2).fit()

est1.summary()

est2 = smf.ols(formula="price_cpi_adj ~ covid_2 + covid_3 + town_dummy + lease_rem + area_sqm + flat_type + storey", data=data_rn2).fit()

est2.summary()

# est3 = smf.ols(formula="price_cpi_adj ~ covid_dum + town_dummy + lease_rem + area_sqm + storey", data=data_sum).fit()

# est3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          price_cpi_adj   R-squared:                       0.756
Model:                            OLS   Adj. R-squared:                  0.755
Method:                 Least Squares   F-statistic:                 2.324e+04
Date:                Mon, 02 May 2022   Prob (F-statistic):               0.00
Time:                        10:24:43   Log-Likelihood:            -6.6723e+05
No. Observations:               52641   AIC:                         1.334e+06
Df Residuals:                   52633   BIC:                         1.335e+06
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -8.366e+04   2436.484    -34.338      0.000   -8.84e+04   -7.89e+04
covid_2     1.193e+04    726.035     16.438      0.000    1.05e+04    1.34e+04
covid_3     3.911e+04   1055.482     37.050      0.000     3.7e+04    4.12e+04
town_dummy -5.367e+04    273.044   -196.570      0.000   -5.42e+04   -5.31e+04
lease_rem   3520.7046     27.588    127.619      0.000    3466.632    3574.777
area_sqm    3561.0886     47.593     74.824      0.000    3467.806    3654.371
flat_type   2.313e+04   1251.998     18.476      0.000    2.07e+04    2.56e+04
storey      6101.5013     61.797     98.734      0.000    5980.378    6222.624
==============================================================================
Omnibus:                     5816.618   Durbin-Watson:                   0.686
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9717.620
Skew:                           0.777   Prob(JB):                         0.00
Kurtosis:                       4.419   Cond. No.                         930.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""